
<img src= "static/img/p1.jpg" alt="logo" width="100" style="text-align: center;">
<h1 style="text-align: center;">DEPARTMENT OF TRAFFIC - {{ paysheet.district }}</h1>
<h1 style="text-align: center;">RED LIGHT RUNNING REPORT</h1><br>
<style>
td, th {
    text-align: left;
    padding: 8px;
  }
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    
<h2>Vehicle Information</h2>
<p><h2>License Plate Number:</h2> {{ driver.plate }}</p>
<p><h2>Vehicle Make and Model:</h2> {{ driver.nodel }}</p>
<p><h2>Vehicle Year:</h2> {{ driver.year }}</p>
<p><h2>Owner Name:</h2> {{ driver.name }}</p>
<p><h2>Owner Address:</h2> {{ driver }}</p>
<p><h2>Owner Contact:</h2> {{ driver }}</p>







 
